---
layout: main
---

<div class="category-title">
    <strong>Category:</strong><span>{{ page.title }}</span>
</div>
{% for post in site.categories[page.category] %}
<article class="post">
    {% if post.img %}
    <a class="post-thumbnail"
        style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})"
        href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
        <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
        <p class="post-desc">{{ post.description | truncate: 100 }}</p>
        <div class="post-info">
            <div class="post-tags">
                Tags:
                {% for tag in post.tags %}
                <span class="post-tag">
                    <a href="{{site.baseurl}}/tags#{{tag}}"># {{tag}}</a>
                </span>
                {% endfor %}
            </div>
            <p class="post-date">{{post.date | date: '%Y, %b %d'}}</p>
        </div>
    </div>
</article>
{% endfor %}